Repository joaovitorqueiroz/QuikPost: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint "src/**/*.ts" --fix, npx eslint "src/**/*.tsx" --fix

.lintstagedrc.json:

{
  "*.ts":[
    "npx eslint \"src/**/*.ts\" --fix"
  ],
  "*.tsx":[
    "npx eslint \"src/**/*.tsx\" --fix"
  ]
}

style: change colors theme
  index.html
  public/logo_full.ico
  public/logo_full_horizontal.png
  src/components/Theme/theme.ts
  src/components/layout/SidebarLayout/Header/UserBox/index.tsx
  src/components/layout/SidebarLayout/Header/index.tsx
  src/components/layout/SidebarLayout/Sidebar/SidebarMenu/index.tsx
  src/components/layout/SidebarLayout/Sidebar/index.tsx
Due: npx eslint "src/**/*.ts" --fix, npx eslint "src/**/*.tsx" --fix

feat: create login page
  package-lock.json
  package.json
  src/components/FormComponents/FormInputText.tsx
  src/components/FormComponents/index.ts
  src/pages/sessions/Login/index.tsx
  src/utils/validatorErrorMessages.ts
Due: npx eslint "src/**/*.ts" --fix, npx eslint "src/**/*.tsx" --fix

feat: create register page
  src/pages/sessions/Register/index.tsx
  src/utils/validatorErrorMessages.ts
Due: npx eslint "src/**/*.ts" --fix, npx eslint "src/**/*.tsx" --fix

refactor: change label username
  src/pages/sessions/Login/index.tsx
Due: npx eslint "src/**/*.tsx" --fix

feat: create not found page
  public/404.svg
  src/pages/sessions/NotFound/index.tsx
Due: npx eslint "src/**/*.tsx" --fix

feat: register api implementation
  package-lock.json
  package.json
  src/App.tsx
  src/main.tsx
  src/pages/sessions/Register/Form.tsx
  src/pages/sessions/Register/index.tsx
  src/pages/sessions/Register/validation.ts
  src/services/api/user.ts
  src/services/fakerApi.ts
Due: npx eslint "src/**/*.ts" --fix, npx eslint "src/**/*.tsx" --fix

feat: login api implementation
  src/pages/sessions/Login/Form.tsx
  src/pages/sessions/Login/index.tsx
  src/pages/sessions/Login/validation.ts
Due: npx eslint "src/**/*.ts" --fix, npx eslint "src/**/*.tsx" --fix

refactor: page register
  .eslintrc.json
  src/pages/sessions/Register/components/Form/index.tsx
  src/pages/sessions/Register/components/Form/validation.ts
  src/pages/sessions/Register/components/index.ts
  src/pages/sessions/Register/index.tsx
  src/pages/sessions/hooks/index.ts
  src/pages/sessions/hooks/useMutationRegister.ts
Due: npx eslint "src/**/*.ts" --fix, npx eslint "src/**/*.tsx" --fix

refactor: page SignIn
  src/pages/sessions/SessionsRoutes.tsx
  src/pages/sessions/SignIn/components/Form/index.tsx
  src/pages/sessions/SignIn/components/Form/validation.ts
  src/pages/sessions/SignIn/components/index.ts
  src/pages/sessions/SignIn/index.tsx
  src/pages/sessions/hooks/index.ts
  src/pages/sessions/hooks/useMutationSignIn.ts
  src/services/api/user.ts
Due: npx eslint "src/**/*.ts" --fix, npx eslint "src/**/*.tsx" --fix

refactor: types
  src/components/Theme/index.tsx
  src/pages/sessions/hooks/useMutationRegister.ts
  src/pages/sessions/hooks/useMutationSignIn.ts
  src/services/api/user.ts
Due: npx eslint "src/**/*.ts" --fix, npx eslint "src/**/*.tsx" --fix

refactor: change location hooks directory
  src/hooks/index.ts
  src/hooks/useMutationRegister.ts
  src/hooks/useMutationSignIn.ts
  src/pages/sessions/Register/components/Form/index.tsx
  src/pages/sessions/SignIn/components/Form/index.tsx
  src/pages/sessions/hooks/useMutationRegister.ts
  src/pages/sessions/hooks/useMutationSignIn.ts
  src/services/api/user.ts
Due: npx eslint "src/**/*.ts" --fix, npx eslint "src/**/*.tsx" --fix

feat: creat hook useMutationGetUser
  src/hooks/index.ts
  src/hooks/useMutationGetUser.ts
  src/services/api/user.ts
  src/utils/index.ts
Due: npx eslint "src/**/*.ts" --fix

feat: create authContext
  .eslintrc.json
  src/App.tsx
  src/components/AuthGuard/index.tsx
  src/components/layout/SidebarLayout/Header/UserBox/index.tsx
  src/contexts/AuthContext.tsx
  src/hooks/index.ts
  src/hooks/useAuth.ts
  src/hooks/useGetUser.ts
  src/hooks/useMutationGetUser.ts
  src/hooks/useMutationLogout.ts
  src/main.tsx
  src/services/api/user.ts
  src/services/fakerApi.ts
Due: npx eslint "src/**/*.ts" --fix, npx eslint "src/**/*.tsx" --fix

feat: create posts page
  src/hooks/useMutationLogout.ts
  src/hooks/useMutationSignIn.ts
  src/pages/home/Home/index.tsx
  src/pages/posts/Posts/index.tsx
  src/pages/posts/PostsRoutes.tsx
  src/routes.tsx
Due: npx eslint "src/**/*.ts" --fix, npx eslint "src/**/*.tsx" --fix

feat: create post list
  src/components/layout/SidebarLayout/Sidebar/SidebarMenu/index.tsx
  src/pages/posts/Posts/components/Menu.tsx
  src/pages/posts/Posts/components/Post.tsx
  src/pages/posts/Posts/components/index.ts
  src/pages/posts/Posts/index.tsx
Due: npx eslint "src/**/*.ts" --fix, npx eslint "src/**/*.tsx" --fix

feat: implementation of post creation
  src/components/FlexBox.tsx
  src/hooks/index.ts
  src/hooks/useMutationPostCreate.ts
  src/pages/posts/Posts/components/PostDialog/Form.tsx
  src/pages/posts/Posts/components/PostDialog/index.tsx
  src/pages/posts/Posts/components/index.ts
  src/pages/posts/Posts/index.tsx
  src/services/api/fakerApi.ts
  src/services/api/post.ts
  src/services/api/user.ts
Due: npx eslint "src/**/*.ts" --fix, npx eslint "src/**/*.tsx" --fix

feat: implementation of post remove
  src/hooks/index.ts
  src/hooks/useMutationPostRemove.ts
  src/pages/posts/Posts/components/Menu.tsx
  src/services/api/post.ts
Due: npx eslint "src/**/*.ts" --fix, npx eslint "src/**/*.tsx" --fix

feat: implementation of post list
  src/hooks/index.ts
  src/hooks/useGetPosts.ts
  src/hooks/useMutationPostCreate.ts
  src/hooks/useMutationPostRemove.ts
  src/pages/posts/Posts/index.tsx
  src/services/api/post.ts
Due: npx eslint "src/**/*.ts" --fix, npx eslint "src/**/*.tsx" --fix

feat: implementation of post update
  src/contexts/PostDialogContext.tsx
  src/hooks/index.ts
  src/hooks/useGetPostById.ts
  src/hooks/useMutationPostUpdate.ts
  src/main.tsx
  src/pages/posts/Posts/components/Menu.tsx
  src/pages/posts/Posts/components/Post.tsx
  src/pages/posts/Posts/components/PostDialog/Form.tsx
  src/pages/posts/Posts/components/PostDialog/index.tsx
  src/pages/posts/Posts/index.tsx
  src/services/api/post.ts
Due: npx eslint "src/**/*.ts" --fix, npx eslint "src/**/*.tsx" --fix

feat: create details post page
  src/components/Menu.tsx
  src/components/Post.tsx
  src/components/PostDialog/Form.tsx
  src/components/PostDialog/index.tsx
  src/components/index.ts
  src/hooks/useMutationPostUpdate.ts
  src/pages/posts/Details/components/Comment.tsx
  src/pages/posts/Details/components/index.ts
  src/pages/posts/Details/index.tsx
  src/pages/posts/Posts/components/Post.tsx
  src/pages/posts/Posts/components/PostItem.tsx
  src/pages/posts/Posts/components/index.ts
  src/pages/posts/Posts/index.tsx
  src/pages/posts/PostsRoutes.tsx
Due: npx eslint "src/**/*.ts" --fix, npx eslint "src/**/*.tsx" --fix

feat: implementation crud comments
  src/components/CommentDialog/Form.tsx
  src/components/CommentDialog/index.tsx
  src/components/index.ts
  src/components/layout/SidebarLayout/Sidebar/SidebarMenu/index.tsx
  src/contexts/CommentDialogContext.tsx
  src/hooks/index.ts
  src/hooks/useMutationCommentCreate.ts
  src/hooks/useMutationCommentRemove.ts
  src/hooks/useMutationCommentUpdate.ts
  src/pages/posts/Details/components/Comment.tsx
  src/pages/posts/Details/index.tsx
  src/services/api/comment.ts
Due: npx eslint "src/**/*.ts" --fix, npx eslint "src/**/*.tsx" --fix

docs: add README
  README.md
Due: none

docs: add Screenshots
  README.md
Due: none

chore: change image logo
  public/logo_branco.png
Due: none

style: add padding on comment content
  README.md
  src/pages/posts/Details/components/Comment.tsx
Due: npx eslint "src/**/*.tsx" --fix

chore: mapping paths on jest
  jest.config.ts
Due: npx eslint "src/**/*.ts" --fix

test: ensure that the register form rendered correctly
  src/pages/sessions/Register/components/Form/index.test.tsx
Due: npx eslint "src/**/*.tsx" --fix

test: ensure that the signIn form rendered correctly
  src/pages/sessions/SignIn/components/Form/index.test.tsx
Due: npx eslint "src/**/*.tsx" --fix

chore: update readme
  README.md
Due: none

docs: update readme
  README.md
Due: none
